.contents-wrapper
  .leftbox
    .leftbox-top.box
    .leftbox-bottom.box
      %ul
        %li.pink ピンク●
        %li.blue ブルー●
        %li.orange オレンジ●
        %li.green グリーン●
        %li.purple パープル●
  .contents
    .contents-main.box
  .rightbox
    .rightbox-top.box
    .rightbox-bottom.box