.header-content{
  width: 100%;
  height: 220px;
  text-align: center;
  p {
    font-size: 100px;
    font-family: serif;
    line-height: 200px;
    color: #ffffff;
    text-shadow: 4px 4px 6px #dbad4b;
  }
}